<a href="https://colab.research.google.com/github/Helena-dev/INFO3-BD2/blob/main/TrabalhoPI3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Helena**

**Trabalho pratico BD2**

In [1]:
import sqlite3
from sqlite3 import Error

## Função de alteração (insert, update, delete...)
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print(f"Query {query.split('(')[0].strip()} executada.")
        if cursor.rowcount != -1: print(f"{cursor.rowcount} linha(s) afetadas")

    except Error as e:
        print(f"Erro: '{e}'")


# Função de leitura de dados (select)
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()

        return result
    except Error as e:
        print(f"Erro: '{e}'")

Tabela CineIF

In [2]:
## Criando conexão
connection = sqlite3.connect("campus_cine.sqlite")

query = """
create table Cineclube (
    ID_cineclube INTEGER PRIMARY KEY AUTOINCREMENT,
    nome varchar(20) not null,
    campusname varchar(50) not null,
    data_inicio date not null,
    nome_coordenador varchar(20) not null,
    senha varchar(20) not null
);
"""
execute_query(connection, query)

query = """
create table Acoes (
    ID_acao INTEGER PRIMARY KEY AUTOINCREMENT,
    tipo TEXT CHECK( tipo IN ('divulgação', 'exibição', 'debate', 'diversificado') ) not null,
    titulo varchar(50) not null,
    data date not null,
    hora_inicio time not null,
    hora_fim time not null,
    local varchar(75) not null
);
"""
execute_query(connection, query)

query = """
create table Usuario (
    nome varchar(20) not null,
    email varchar(50) primary key,
    senha varchar(50) not null,
    data_nascimento date not null,
    cidade varchar(70) not null
);
"""
execute_query(connection, query)

query = """
create table Publico (
    ID_publico INTEGER PRIMARY KEY AUTOINCREMENT,
    email varchar(50),
    Publico_externo boolean not null,
    Publico_interno boolean not null,
    foreign key (email) references usuario(email)
);
"""
execute_query(connection, query)

Query create table Cineclube executada.
Query create table Acoes executada.
Query create table Usuario executada.
Query create table Publico executada.

In [7]:
query = """
INSERT INTO Usuario (nome, email, senha, data_nascimento, cidade)
VALUES
('Joao', 'joaogmail', '12', '1/2/3', 'joaodefora'),
('Maria', 'Mariagmail', '13', '2/2/3', 'juizdefora'),
('Marie', 'Mariegmail', '14', '3/2/3', 'josedefora');
"""
execute_query(connection, query)

Query INSERT INTO Usuario executada.
2 linha(s) afetadas

Consulta 1:

Objetivo da consulta: Contar o numero de usuarios presentes

In [9]:
# CONSULTA 1

query_consulta_1 = """
SELECT COUNT(*) FROM Usuario;
"""
resultado_consulta_1 = execute_read_query(connection, query_consulta_1)

print("Resultado Consulta 1:")
for row in resultado_consulta_1:
  print(row)

Resultado Consulta 1:
(3,)